<div ng-controller="cadastroController as vm">
    <form ng-hide="vm.isDadosPessoaisPreenchidos" name="vm.formularioTreinador">
        <input type="email" class="form-control" maxlength="15" placeholder="E-Mail" ng-model="vm.treinador.usuario.email"
            ng-required="true"><br>
        <input type="text" class="form-control" placeholder="Nome" ng-model="vm.treinador.nome" ng-required="true"><br>
        <input type="number" class="form-control" placeholder="Idade (10+)" min="10" max="200" ng-model="vm.treinador.idade"
            ng-required="true"><br>
        <input type="password" class="form-control" maxlength="15" placeholder="Senha" ng-model="vm.treinador.usuario.senha"
            ng-required="true"><hr>

        <button class="btn btn-primary" ng-click="vm.prosseguirCadastro(vm.treinador)" ng-disabled="vm.formularioTreinador.$invalid">Prosseguir</button>
    </form>

    <div ng-show="vm.isDadosPessoaisPreenchidos">
        <!-- <pesquisa-pokemon pokemons-locais="vm.pokemons" lista-alvo="vm.treinador.pokemons"></pesquisa-pokemon> -->
        <picklist lista-original="vm.pokemons" lista-item-selecionado="vm.treinador.pokemons" parametro-comparacao="id"></picklist>
        <tabs>
            <tab ng-repeat="tab in tabs" tab-title="tab.title">
                {{tab.content}}
            </tab>
        </tabs>
        <hr>
        <button class="btn btn-success" ng-click="vm.cadastrarTreinador(vm.treinador)" ng-disabled="!vm.treinador.pokemons.length">Cadastrar</button>
    </div>
</div>