<html>

<head>
    <meta charset="UTF-8">
    <script src="./node_modules/angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="./index.css">
    <script src="./app.js"></script>
    <script src="./treinador.controller.js"></script>
    <title>Pokemon</title>
</head>

<body ng-app="treinadorPokemon">
    <div id="main" ng-controller="treinadorController as vm">
        <button class="btn btn-primary" ng-click="vm.mostrarTelaDeCadastro()">Cadastrar</button>
        <p></p>
        <table class="table table-striped" ng-if="vm.treinadores.length">
            <thead>
                <tr>
                    <td class="capitalize" ng-repeat="(key,value) in vm.treinadores[0]">
                        {{key}}
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="treinador in vm.treinadores">
                    <td valign="bottom" ng-repeat="(key,value) in treinador">
                        <span ng-if="value.length && key !== 'pokemons'">{{value}}</span>

                        <span ng-if="value.length && key === 'pokemons'">
                            <span ng-repeat="pokemon in value track by $index">{{pokemon.nome}} </span>
                        </span>
                    </td>
                    <td>
                        <span class="btn btn-danger" ng-click="vm.apagarTreinador(treinador)">X</span>
                        <span class="btn btn-primary" ng-click="vm.editarTreinador(treinador)">Editar</span>
                        <span class="btn btn-primary" ng-click="vm.abrirFormularioDePokemons(treinador)">+</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="alert alert-warning" ng-if="!vm.treinadores.length">
            Não há treinadores cadastrados.
        </div>

        <form name="vm.formularioTreinador" ng-if="vm.flagFormularioCadastrar">
            <input type="text" class="form-control" placeholder="Nome" ng-model="vm.treinador.nome" ng-required="true"><br>
            <input type="text" class="form-control" placeholder="Cpf" ng-model="vm.treinador.cpf" ng-required="true"><br>

            <button class="btn" ng-click="vm.cadastrarTreinador(vm.treinador)" ng-disabled="vm.formularioTreinador.$invalid">Cadastrar</button>
        </form>

        <form name="formularioEditarTreinador" ng-if="vm.flagEditar">
            <input type="text" class="form-control" placeholder="Nome" ng-model="vm.treinadorEditavel.nome" ng-required="true"><br>
            <input type="text" class="form-control" placeholder="Cpf" ng-model="vm.treinadorEditavel.cpf" ng-required="true"><br>

            <button class="btn" ng-click="vm.concluirEdicao()" ng-disabled="vm.formularioEditarTreinador.$invalid">Concluir</button>
        </form>

        <form name="formularioCadastrarPokemonNoTreinador" ng-if="vm.flagCadastrarPokemonNoTreinador">
            <select class="form-control" ng-model="vm.pokemon" ng-options="pokemonTemp.nome for pokemonTemp in vm.pokemons" ng-required="true">
                <option value="">Selecione um Pokémon para {{vm.treinadorParaAdicionarPokemon.nome}} </option>
            </select><br>

            <button class="btn" ng-click="vm.salvarPokemonsNoTreinador(vm.pokemon,vm.treinadorParaAdicionarPokemon)" ng-disabled="!vm.pokemon">Adicionar
                Pokemon</button>
            <button class="btn" ng-click="vm.concluirSalvarPokemonsNoTreinador()">Concluir</button>
        </form>
    </div>
</body>

</html>