<form name="formularioPesquisarPokemon">
    <!-- <input type="text" ng-change="pesquisarPokemonNome(nomePesquisado, pokemons)" class="form-control" ng-model="nomePesquisado" placeholder="Pesquisar por nome">
                         -->
    <input type="text" ng-change="pesquisarPokemon(termoPesquisado, pokemonsLocais)" class="form-control" ng-model="termoPesquisado"
        placeholder="Pesquisar">

    <div>
        <table class="table table-hover table-scroll">
            <thead>
                <tr class="capitalize texto-centralizado">
                    <td>Avatar</td>
                    <td ng-click="ordernarPorAtributo('nome', ordenacao)">
                        Nome <i ng-show="chaveOrdenacao === 'nome'" ng-class="{'fas fa-arrow-up' : ordenacao, 'fas fa-arrow-down': !ordenacao}"></i>
                    </td>
                    <td ng-click="ordernarPorAtributo('tipos', ordenacao)">
                        Tipos <i ng-show="chaveOrdenacao === 'tipos'" ng-class="{'fas fa-arrow-up' : ordenacao, 'fas fa-arrow-down': !ordenacao}"></i>
                    </td>
                    <td ng-click="ordernarPorAtributo('level', ordenacao)">
                        Level <i ng-show="chaveOrdenacao === 'level'" ng-class="{'fas fa-arrow-up' : ordenacao, 'fas fa-arrow-down': !ordenacao}"></i>
                    </td>
                    <td ng-click="ordernarPorAtributo('ataque', ordenacao)">
                        Ataque <i ng-show="chaveOrdenacao === 'ataque'" ng-class="{'fas fa-arrow-up' : ordenacao, 'fas fa-arrow-down': !ordenacao}"></i>
                    </td>
                    <td ng-click="ordernarPorAtributo('defesa', ordenacao)">
                        Defesa <i ng-show="chaveOrdenacao === 'defesa'" ng-class="{'fas fa-arrow-up' : ordenacao, 'fas fa-arrow-down': !ordenacao}"></i>
                    </td>
                    <td ng-click="ordernarPorAtributo('vida', ordenacao)">
                        Vida <i ng-show="chaveOrdenacao === 'vida'" ng-class="{'fas fa-arrow-up' : ordenacao, 'fas fa-arrow-down': !ordenacao}"></i>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pokemon in listaPokemonsPesquisado | orderBy: atributo : ordenacao" ng-class="{'fundo-amarelo' : pokemon.selecionado}"
                    ng-click="adicionarNaListaAlvo(pokemon,listaAlvo)" style="cursor: pointer;">
                    <td class=" texto-centralizado" ng-repeat="(key,value) in pokemon" ng-if="key !== 'id' && key !== 'selecionado'">
                        <span class="capitalize" ng-if="key !== 'id' && key !== 'icone' && key !== 'tipos'">
                            {{value}}
                        </span>
                        <span ng-if="key === 'icone'">
                            <img ng-src="{{value}}">
                        </span>
                        <span class="capitalize" ng-repeat="tipos in value track by $index" ng-if="key === 'tipos'">
                            {{tipos}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>