<div ng-controller="treinadorController as vm">
    
    <div class="form-group row">
        <label for="nome" class="col-sm-1 col-form-label" align="right">Nome:</label>
        <div class="col-sm-11 capitalize">
            <input id="nome" type="text" class="form-control" ng-model="vm.usuario.nome" disabled="true">
            <br>
        </div>
        <label for="idade" class="col-sm-1 col-form-label" align="right">Idade:</label>
        <div class="col-sm-11">
            <input id="idade" type="text" class="form-control" ng-model="vm.usuario.idade" disabled="true">
            <br>
        </div>
        <label for="email" class="col-sm-1 col-form-label" align="right">E-mail:</label>
        <div class="col-sm-11">
            <input id="email" type="text" class="form-control" ng-model="vm.usuario.usuario.email" disabled="true">
            <hr>
        </div>

        <table class="table table-hover table-scroll texto-centralizado">
            <thead>
                <tr>
                    <td>Avatar</td>
                    <td>Nome</td>
                    <td>Tipos</td>
                    <td>Level</td>
                    <td>Ataque</td>
                    <td>Defesa</td>
                    <td>Vida</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pokemon in vm.usuario.pokemons">
                    <td><img ng-src="./spas/resources/icones/{{pokemon.id + 1}}.png"></td>
                    <td>{{pokemon.nome}}</td>
                    <td class="capitalize">
                        <span ng-repeat="tipos in pokemon.tipos">
                            {{tipos.nome}}
                        </span>
                    </td>
                    <td>{{pokemon.level}}</td>
                    <td>{{pokemon.ataque}}</td>
                    <td>{{pokemon.defesa}}</td>
                    <td>{{pokemon.vida}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>